.card{
  transition: transform 0.3s ease-in-out; /* Durée de 0.3s et fonction ease-in-out pour un effet fluide */
}

.card:hover {
  transform: scale(1.1); /* Agrandir de 10% */
}

.bouton-perso{
  transition: transform 0.7 ease;
}
.bouton-perso:hover{
  transform: scale(1.1);
}

.active{
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.nav-link:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}