.tarifs-container li {
  line-height: 40px;
  font-size: large;
  background-color: rgb(236, 236, 236);
}

.btn-purple{
  background-color: purple;
  margin-bottom: 50px;
}
.btn-purple:hover{
  background-color: rgb(172, 85, 172);
}

.btn-or{
  background-color: #dec950;
  margin-bottom: 50px;
}
.btn-or:hover{
  background-color: #9e903f;
}

.card-body{
  background-color: rgb(236, 236, 236);
}

.btn-red, .btn-green{
  margin-bottom: 50px;
}
